<div	class="center	jumbotron">
  <h1> <%= t :home_head %></h1>
  <h2>
    <%= t :home_message %>
  </h2>
  <% if false %>
    <%= link_to t(:continue), "#", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
