<h4><%= t :greeting, user_name: @user.name %></h4>
<%= t :deadline_of_a_course, course_name: @course.name, course_deadline: @course.end_date %>
<%= t :login_instruction_text %> <%= url_for(controller: "static_pages",
                                             action: "home",
                                             only_path: false) %>