<footer class="footer">
  <div row>
    <div class="col-md-4">
      <p>&copy; Framgia Bangladesh Ltd.</p>
    </div>
  </div>
      
  <nav>
    <ul>
      <li><%= link_to t(:about),about_path %></li>
      <li><%= link_to t(:contact), contact_path %></li>
    </ul>
  </nav>
</footer>